@import-normalize;

*,
*::before,
*::after {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  font-family: Montserrat, sans-serif;
  line-height: 1.5;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.modal-open {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-align: center;
}

p {
  text-align: center;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h4 {
  margin-top: 30px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
